{% extends 'base.html.twig' %}
{% block title %}Articles{% endblock %}
{% block body %}
<section class="articles pt-3">
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-3">
                    <article class="text-center border border-dark p-3 h-100">
                        <h2>{{ article.title }}</h2>
                        <div class="metadata">Ecrit le {{ article.createdAt|date('d/m/Y à H:i') }} dans la catégorie Politique</div>
                        <div class="content">
                            <img src="{{ asset('images/produits/' ~ article.image ) }}" alt="" class="img-fluid"> 
                            <p>{{ article.content|raw }}</p>
                            <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                        </div>
                    </article>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}